*:focus {
    outline:none;
}

img {
    max-width: 100%;
}

html {
    font-size: 10px;
}

body {
    
}

a {
    text-decoration: none;
}

button {
    border:none;
    background:none;
    cursor: pointer;
}

.container {
    max-width: 100%;
}

